.recipe{
    color: rgb(236, 235, 238) ;
    align-items: center;
    justify-content: center;
    display: grid;
   
}
.recipe img{
    border-radius: 10px;
    justify-content: center;
    margin-left: 35%;
}
.recipe p{
   
    color: red;
    font-size:xx-large;
 
   
}
.recipe h1{
    font-size:xx-large;
    font-weight: 900;
  margin-left: 35%;
}